<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Interface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MY-PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Interface" contract="MyInterface"
                name="BasicHttpBinding_Interface" />
        </client>
    </system.serviceModel>
</configuration>